

/* Definisci il font personalizzato */
@font-face {
  font-family: 'These';
  src: url('../public/fonts/theseasons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Applica il font personalizzato a tutto il sito */
body {
  margin: 0;
  font-family: 'These', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F3E9D5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-footer-dark {
  background-color: #434547;
}

.text-beige {
  color: #F3E9D5;
}

.bg-green {
  background-color: #536452;
}

.text-green {
  color: #536452;
}
