@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 700; /* Imposta il peso del font a bold */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F3E9D5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-footer-dark {
  background-color: #434547;
}

.text-beige {
  color: #F3E9D5;
}

.bg-green {
  background-color: #536452;
}

.text-green {
  color: #536452;
}
